<!DOCTYPE html>
<html lang="en">
<head>
  <title>Music Under The Weather</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color:lavender;">

<div class="container">
  <div class="jumbotron" style="background-color: beige">
    <h1><center>Register</center></h1>
    <p class="text-muted text-center">Let the music guide you</p>
  </div>
</div>
<center>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    Hello, please enter a username and password to register. <br><br>
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <br><br>
  	<form method = "POST" action ="/check_new_account">
            Username: <br>
            <input type="text" name="newUsername" required> <br><br>
            Password: <br>
            <input type = "password" name = "newPassword" required>  <br><br>
              Confirm Password: <br>
            <input type="password" name = "repeatPassword" required> <br> <br>
            <input type="submit" value="Register">
  	</form>
  	<form method="get" action="/"> <br>
  	  <input type="submit" value="Back"><br><br>
        </form>

  </div>
  <div class="col-sm-4"></div>
</div> </center>
</body>
</html>
