<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MusicUnderTheWeather</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body style="background-color:lavender;">

    <div class="container">
      <div class="header clearfix">
      </div>
      <div class="jumbotron" style="background-color:beige;">
      <center><h3>A Glimpse of Your Listening History<h3></center>
      </div>


      <div class=".container-fluid" style="text-align:center;" >

        <form method="get" action="/home"> <br>
          <input type="submit" value="Back"><br><br>
        </form>
        <h4> When it was {{temperature}} in {{ct}}, you listened to...</h4>
	{% for song in songID %}
	<iframe src={{song}}  width="640" height="480">
	{% endfor %}
      </div>

    </div>
  </body>
</html>
